HTML CODE


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src = "task1.js"></script> 
</body>
</html>


JAVASCRIPT CODE


var request = new XMLHttpRequest();
request.open('GET','https://restcountries.eu/rest/v2/all',true);
request.send();
request.onload = function(){
    var countrydata = JSON.parse(this.response);
    let sum = 0;
    for(let country of countrydata){
        sum+=country.population
    }
    console.log(sum);    
    }
}
